body{

          background: whitesmoke;

}
header{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          background: white;
          padding: 3vh 8vw;
          align-items: center;
          box-shadow: 5px 1px 8px rgb(42, 42, 42);
}
header h1{
          flex-grow: 1;
          color: blue;
          font-weight: 800;
          font-size: 1.2em;
}
nav{
          height: 100%;
          display: flex;
          justify-content: flex-end;
          flex-grow: 1;
          
}
nav a{
          padding: 0em 0.8em;
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-weight: 800;
          /*padding-bottom: 5px;
          border-bottom: 2px solid transparent;*/
          
          

}
a:hover{
          color: blue;
          text-decoration: underline;
          /*border-bottom: 2px solid black;*/
}
a:focus{
          color: blue;
          text-decoration: underline;
          /*border-bottom: 2px solid black;*/

}
